# Python_Basics_Sudheer2024_#

# Program : Python Basics By Sudheer
# Version:3.12
# Author: Sudheer

###################### Start Code #########################################

## Print Function##

In [7]:
print("Hellow World!")# String

Hellow World!

In [8]:
print(1) # Int
print(1.2) # float
print("sudheer") # sting
print("a") # String

1
1.2
sudheer
a

# Variables##

In [10]:
#These are casesensitive
#theses variables are not started with special charecters and not started with numbers
#underscore can be used as varible either in starting position or ending
## Note: Variable should not contain the keywords

In [11]:
ae = "apple"
ba = "banana"
_au = "Australia"
ta_ = "tamarind"
print(ae)
print(ba)
print(_au)
print(ta_)

apple
banana
Australia
tamarind

# ID Function##

In [13]:
# this is used to know the ID of the object variable
ay = "sun"
print(ay)

sun

In [18]:
print(id(ay))
#id containg the address of the variable stored and it contains 10 digit unique number this id dosent change

2283122479088

# Identity Operators##

In [19]:
# is  / is not 
# is : if both share same object memory location then is true
# is not : if both are not sharing same memory location then this is true

In [21]:
#is
x = 1
y = 1
if x is y:
    print("sharing same object memory location")
else: 
    print("not sharing the same location")

sharing same object memory location

In [23]:
#is not
x = 1
y = 1
if x is not y:
    print("sharing same object memory location")
else: 
    print("not sharing the same location")

not sharing the same location

# Concatination

In [24]:
# to combain two strings in the print statement we use concatination method

In [37]:
name = "Python"
year = 2024

In [38]:
print("Name: ",name , "Year: ",year)

Name:  Python Year:  2024

In [39]:
print(f"Name:{name},Year:{year}")

Name:Python,Year:2024

In [41]:
print("Name: {}, Year: {}".format(name,year))

Name: Python, Year: 2024

In [48]:
print("Name: "+name , "Year: "+ year)# this will show that we cannot concatinate the string and Int at the same time

TypeError: can only concatenate str (not "int") to str

# input##

In [51]:
a = input("enter the first number: ")
b = input("enter the second number: ")
print(a + b )

enter the first number: Hema Sudheer
enter the second number: Vuppu
Hema SudheerVuppu

In [52]:
# in the above code you saw that both are combined but not added this is due to that 
#by default python recognizes the values in the string format so we have to use the Typecasting method
#int(),float()
a = int(input("enter the first number: "))
b = int(input("enter the second number: "))
print(a + b )

enter the first number: 85
enter the second number: 64
149

# Operators##

# Arithmetic Operators(+,-,*,/,%)

In [80]:
# to perform basic Mathematical Operation we use the Arithmetic Operators 
# + , - , * , / , %

In [55]:
a = 82
b = 57

print(f"a+b:{a+b}")
print(f"a-b:{a-b}")
print(f"a*b:{a*b}")
print(f"a/b:{a/b}")# When you use division operator by default it gives decimal to avoid we have to use floor operator.
print(f"a%b:{a%b}")

a+b:139
a-b:25
a*b:4674
a/b:1.4385964912280702
a%b:25

# Power Operator##

In [56]:
# this is nothing but a power identification of an int(**)

In [62]:
a = 5
b = 2
ans = a ** b
ans1 = b**a
print(ans)
print(ans1)

25
32

# Floor Operator##

In [63]:
# this operation is used to perform to know the nearest integer value when you perform an division operator(//)

d = print(5/2)# this is normal division operation
f = print(5//2)# this is floor division operation

2.5
2

# Assignment Operators ##

In [64]:
#this is used to assign the value to the object

In [66]:
# Variable Assigning
name = "Sudheer"
age = 28
price = 100
print(name)
print(age)
print(price)

Sudheer
28
100

In [67]:
#Multiple Variable assignment
a=b=c=1
print(a)
print(b)
print(c)

1
1
1

In [68]:
#Multi value Assignment
a,b,c = "sudheer",28 , 100
print(a)
print(b)
print(c)

sudheer
28
100

# Compound Operators (Left operand = Left operand + Right operand)

In [77]:
# This is used to perform the oprator between two operands and store the value to the left operator
# a = a + b (L = L + R)
# a = a - b (L = L - R)
# a = a / b (L = L / R)
# a = a * b (L = L * R)
# a = a // b (L = L // R)
# a = a ** b (L = L ** R)

a = 20
b = 5

In [75]:
# a = a + b (L = L + R)
a+=b
print(a)
# a = a - b (L = L - R)
a-=b
print(a)
# a = a / b (L = L / R)
a/=b
print(a)
# a = a * b (L = L * R)
a*=b
print(a)
# a = a // b (L = L // R)
a//=b
print(a)
# a = a ** b (L = L ** R)
a**=b
print(a)

25
20
4.0
20.0
4.0
1024.0

In [78]:
a//b

4

# Relational Operators##

In [81]:
# this is used to compare two operands 
# if yes = True
#if no  = False

In [84]:
a = 5
b = 10
# == , != ,< , <= ,> , >=

In [86]:
# == 
# False because both are not equal
a == b

False

In [87]:
# !=
# True because both are not equal
a!=b

True

In [88]:
# <
# True because a is small than b
a<b

True

In [89]:
# <=
# True because a is small than b
a<=b

True

In [90]:
# >
# True because a is not greater than b
a>b

False

In [91]:
# >=
# False because a is not greater than b
a>=b

False

# Logical Operators##

In [98]:
#3 types of Gates
a = 10
b = 5

In [104]:
#OR ==> In this type of operator atleast one input must be True then the result will be True
# T / T = F
# F/T = T
# T/F = T
# F/F = F

res = ((a<=b) or (a!=b))
print(f"the result of or is: {res}")

the result of or is: True

In [105]:
# AND ==> In this type of operator Both input must be True then the result will be True
# T / T = T
# F/T = F
# T/F = F
# F/F = F
res1 = ((a<=b) and (a!=b))
print(f"the result of or is: {res1}")

the result of or is: False

In [106]:
#NOT ==> In this type of operator it will make the result inverted if False then True & if True then False
#  T = F
#  F = T
res2 = not(((a<=b) and (a!=b)))
print(f"the result of or is: {res2}")

the result of or is: True

# Bitwise Operators ##

In [107]:
# OR (|)
# AND (&)
# Xor ()

In [109]:
# OR ==> this will be false only if both values are false or everything will be true
a = 10
b = 12
ans = a | b
print(ans)

14

In [110]:
# AND ==> this will be true only if both the values are true
ans1 = a & b
print(ans1)

8

In [111]:
#XOR ==> this will be true only if both the values are having different values
ans2 = a^b
print(ans2)

6

# Left Shift Operators ##

In [113]:
# This is used to move the binary objects to the left side of the index places
# <<
# Formula = n*n^i

In [114]:
a = 5
print(a<<3)

40

# Right Shift Operators ##

In [116]:
# This is used to move the binary objects to the Right side of the index places
# >>
# Formula = n*n^i

In [123]:
a = 256
print(a>>1)
print(a>>2)

128
64

# Ones Operator##

In [124]:
# This operator is used to find the inverted it means all zeros will be ones and ones will be zeros
# ~
#Formula ~N = -(N+1)

In [125]:
a = 25
print(~a)

-26

# Decision Making in Python

In [126]:
# This is something which you have to be aware of the code or a block or a statement of the code which has to be executed based
# on the usecase that is given.
# there are many types of decision making out of them lets go with main three
#if
#if else
#nested if-else

# if

In [130]:
#if
#checking the zero division error
n1 = int(input ("Enter the First Number: "))
n2 = int(input("Enter the Second Number: "))
if n1!=0:
    print(n1/n2)

Enter the First Number: 25
Enter the Second Number: 5
5.0

# if else

In [149]:
#if else
n1 = int(input ("Enter the First Number: "))
n2 = int(input("Enter the Second Number: "))
if n1 <= 100:
    print(n1/n2)
else:
    print("Please enter a number below 100")

Enter the First Number: 52
Enter the Second Number: 5
10

# nested if else

In [200]:
'''
e=int(input("enter the student score"))
if e>=90:
    print("student got the grade greater than 90 and less than 100")
elif e<=90 and e>=80:
    print("student got the grade greater than 90 and less than 80")
elif  e<=80 and e>=70:
    print("student got the grade greater than 80 and less than 70")
elif score<=59:
    print("you got Failed")
else:
    print("please enter the valid score card")
'''

'\ne=int(input("enter the student score"))\nif e>=90:\n    print("student got the grade greater than 90 and less than 100")\nelif e<=90 and e>=80:\n    print("student got the grade greater than 90 and less than 80")\nelif  e<=80 and e>=70:\n    print("student got the grade greater than 80 and less than 70")\nelif score<=59:\n    print("you got Failed")\nelse:\n    print("please enter the valid score card")\n'

In [162]:
score = int(input("Enter the score that you recieved: "))
if score<=100 and score>=90:
    print("Congratulations you got Distinction!")
elif score <=89 and score >=80:
    print("Congrats you achieved 'A+'")
elif score <=79 and score >=70:
    print("Congrats you achieved 'B+'")
elif score <=69 and score >=60:
    print("Congrats you achieved 'C+'")
elif score<=59:
    print("you got Failed")
else:
    print("please enter the valid score card")

Enter the score that you recieved: 60
Congrats you achieved 'C+'

In [199]:
'''
a=[10,20,30,40,50,70]
b=int(input("enter the number"))
if b in a:
    print("number is present")
else:
    print("number is not present")
'''

'\na=[10,20,30,40,50,70]\nb=int(input("enter the number"))\nif b in a:\n    print("number is present")\nelse:\n    print("number is not present")\n'

In [174]:
'''
def siri(a,b):
    c=a+b
    print(c)
    
siri(10,50)

'''

'\ndef siri(a,b):\n    c=a+b\n    print(c)\n    \nsiri(10,50)\n\n'

#  Strings

In [201]:
# Strings are "" or '' 
# strings are alphabetical models

In [202]:
#i want to check if one letter is present in string or not

In [203]:
sample = "Sudheer"
print(sample)

Sudheer

In [205]:
for i in sample:
    print(i)

S
u
d
h
e
e
r

In [207]:
if "S" in sample:
    print("yes")
else:
    print("no")

yes

# Slicing Strings

In [208]:
# slcing through index
sli = "python"
sli[2]

't'

In [209]:
sli[3]="s" # This will show us an error because String is not supported for the item values changes
# Strins are Immutable

TypeError: 'str' object does not support item assignment

# Slicing sting

In [210]:
sample = "python"

In [211]:
# here i am slicing the charecters 
# string = [start_index : End_index]
# string  = [n:n-1]
#farword indexing and backword indexing two types of indexing are present and always start index with 0

In [212]:
sample[1:4]#if i want to get values of yth # farword indexing

'yth'

In [213]:
sample[-3:-2] # if i want to get the h

'h'

In [214]:
sample[2:]

'thon'

In [215]:
sample[:-2]

'pyth'

# String Methods

## Length
## Replace
## White Spaces
## Upper Case
## Lower Case
## Split

In [216]:
str = "pythonscriptinglanguage"

In [217]:
# finding length 
print(len(str))

23

In [219]:
#Replace
str1= "pythonscriptinglanguages"
print(str1.replace("g","t"))

pythonscriptintlantuates

In [227]:
# WhiteSpaces removing at starting and ending of the charecters
str2 = "  python scripting languages     ss   "
print(str2)

  python scripting languages     ss

In [228]:
print(str2.strip())

python scripting languages     ss

In [229]:
# Upper Case
str3= "python script languages"
print(str3)

python script languages

In [230]:
print(str3.upper())

PYTHON SCRIPT LANGUAGES

In [231]:
print(str3.lower())

python script languages

In [240]:
str4 = "python scripting languages all rounded" # here i have splited the code using whitespaces between them
print(str4.split(" "))

['python', 'scripting', 'languages', 'all', 'rounded']

# Lists

In [241]:
# List are mutable and can store differant types of data 
#[] Represented by the square brackets

In [242]:
n = [1,2.2,"sudheer",'haibujji']
print(n)

[1, 2.2, 'sudheer', 'haibujji']

In [244]:
#i want to print each item in the iteration statement 
for i in n:
    print(i)

1
2.2
sudheer
haibujji

In [245]:
if "sudheer" in n:
    print("yes")
else:
    print("no")

yes

# List Indexing

In [246]:
n = [10,20,30,40,50,60,70]
print(n)

[10, 20, 30, 40, 50, 60, 70]

In [247]:
n[2]#indexing (0,1,2,3,45,6) farword indexing

30

In [248]:
n[-2]# backward indexing

60

In [249]:
n[1:4]#range from start and ending [n,(n-1)]---[start_index:End index]

[20, 30, 40]

In [250]:
n[:5]# start to till 4

[10, 20, 30, 40, 50]

In [251]:
n[2:]# start from 2 and end of all items

[30, 40, 50, 60, 70]

In [253]:
#removing items in list
n[1:4] = []
print(n)

[10, 60, 70]

In [254]:
n_copy=n[:] # copying the list of above
print(n_copy)

[10, 60, 70]

In [256]:
n_copy=[]# removing the copy list 
print(n_copy)

[]

# lsit Methods

In [257]:
# Length of list
a = [1,2,3,50,60,'sudheer']
len(a)

6

In [258]:
b = [10,20,3,0,450,5,1]# concatination of two list
c = a+b
print(c)

[1, 2, 3, 50, 60, 'sudheer', 10, 20, 3, 0, 450, 5, 1]

In [267]:
print(c)

[]

In [264]:
d=c.copy()
print(d)

[1, 2, 3, 50, 60, 'sudheer', 10, 20, 3, 0, 450, 5, 1]

In [265]:
d.clear()
print(d)

[]

In [268]:
c = []
print(C)

NameError: name 'C' is not defined

# Tuple

In [269]:
# this is immutable and () 
# once it is declared it cannot be changed or modified 
# it can store differant data types and duplicates as well

In [270]:
a = (10,20,3,30,'sudheer',5.2)
print(a)

(10, 20, 3, 30, 'sudheer', 5.2)

In [271]:
# finding if the elemnet or item is present in tuple or not
if 30 in a:
    print("Yes")
else:
    print("No")

Yes

In [272]:
# iterating of the items in the tuple
for i in a:
    print(i)

10
20
3
30
sudheer
5.2

# Methods of Tuple

# in tuple
# we cannot 
# Modify 
# update 
# del item

In [274]:
# lenght
t = (10,20,3,'sudheer')
print(t)# tis can hold multiple data types oin it and duplicates as well

(10, 20, 3, 'sudheer')

In [275]:
len(t)

4

In [276]:
t.count(10)

1

In [277]:
del t(1)# it cannot delet item in tuple

SyntaxError: cannot delete function call (1062798030.py, line 1)

In [279]:
del t # this show that t is deleted

NameError: name 't' is not defined

In [280]:
print(t)# t is not available to show as it was deleted

NameError: name 't' is not defined

# Dictionary

In [281]:
# this  is a key and value pair and {} this the format to write
# { key: Values}

In [282]:
a = { "name": "sudheer", "age": 28, "salary":20.35}
print(a)

{'name': 'sudheer', 'age': 28, 'salary': 20.35}

In [283]:
a.keys()

dict_keys(['name', 'age', 'salary'])

In [284]:
a.values()

dict_values(['sudheer', 28, 20.35])

In [286]:
a["age"] = 29

In [287]:
print(a)

{'name': 'sudheer', 'age': 29, 'salary': 20.35}

In [294]:
a["mobile"] = 98855

In [295]:
print(a)

{'name': 'sudheer', 'age': 29, 'salary': 20.35, 'mobile': 98855}

In [297]:
a['name']

'sudheer'

In [298]:
print(a)

{'name': 'sudheer', 'age': 29, 'salary': 20.35, 'mobile': 98855}

In [299]:
b = a.copy()# to make a copy of the a dict
b

{'name': 'sudheer', 'age': 29, 'salary': 20.35, 'mobile': 98855}

In [300]:
print(a)
print(b)

{'name': 'sudheer', 'age': 29, 'salary': 20.35, 'mobile': 98855}
{'name': 'sudheer', 'age': 29, 'salary': 20.35, 'mobile': 98855}

In [301]:
len(b)# finding length of dict

4

In [302]:
del b["mobile"]
print(b)

{'name': 'sudheer', 'age': 29, 'salary': 20.35}

In [304]:
b.clear()
print(b)

{}

In [306]:
del b # b is deleted
b

NameError: name 'b' is not defined

# Sets

In [307]:
# these are un-orderd
# these are represented by {}
# these do not accept duplicates and not indexed 
# these cannot be modified 
# these can store multiple data types in it

In [308]:
a = {1,2,30,2.2,'sudheer','hema'}
print(a)

{'hema', 1, 2, 2.2, 'sudheer', 30}

In [310]:
a.update('sud')
print(a)

{1, 2, 2.2, 'd', 30, 'hema', 'sudheer', 'u', 's'}

In [311]:
a

{1, 2, 2.2, 30, 'd', 'hema', 's', 'sudheer', 'u'}

In [313]:
a.pop()

1

In [314]:
a

{2, 2.2, 30, 'd', 'hema', 's', 'sudheer', 'u'}

In [315]:
for x in a:
    print(x)

2
2.2
d
30
hema
sudheer
u
s

# methods

In [317]:
len(a)

8

In [318]:
b = a.copy()
b

{2, 2.2, 30, 'd', 'hema', 's', 'sudheer', 'u'}

In [319]:
# union
# intersection
# subset
# superset
# disjoint

In [320]:
c = {10,20,'ksit',60,80}
print(b)
print(c)

{2, 2.2, 'd', 'hema', 'sudheer', 'u', 's', 30}
{80, 20, 10, 60, 'ksit'}

In [321]:
d = b.union(c)
d

{10, 2, 2.2, 20, 30, 60, 80, 'd', 'hema', 'ksit', 's', 'sudheer', 'u'}

In [324]:
e = b.intersection(c)
e

set()

In [325]:
e

set()

In [327]:
f = c.issuperset(b)
f

False

# Loops

In [328]:
# to do a task repeatadly we use loops 
# two types of loops they are
# for loop
# while loop

# for loop

In [329]:
# this is used to iterate any kind of series like string, list , dictionary and sets

In [331]:
a = "python"
for i in a:
    print(i)

p
y
t
h
o
n

In [332]:
b = [10,20,30,4,2.66,36]
for i in b:
    print(i)

10
20
30
4
2.66
36

In [333]:
c = {10,20,30,4,2.66,36}
for i in c:
    print(i)

2.66
4
36
20
10
30

In [334]:
d={"name":"sudheer","age": 28,"adress": "king"}
for i in d:
    print(i)

name
age
adress

In [335]:
for x,y in d.items():
    print(x,y)

name sudheer
age 28
adress king

In [336]:
for x in d.keys():
    print(x)

name
age
adress

In [337]:
for x in d.values():
    print(x)

sudheer
28
king

# Range Function

In [338]:
# range is some thing which you want to get random data
a = range(10,30,3)
print(a)

range(10, 30, 3)

In [346]:
for i in range(30,90,6):
    print([i])

[30]
[36]
[42]
[48]
[54]
[60]
[66]
[72]
[78]
[84]

In [363]:
import random

num = 10
start = 1
end = 100
a = random.sample(range(start, end + 1), num)
print(a)

[88, 57, 61, 22, 14, 96, 63, 6, 51, 37]

In [364]:
a

[88, 57, 61, 22, 14, 96, 63, 6, 51, 37]

In [380]:
import random
a = random.sample(range(20,100,3),20)
print(a)

[26, 56, 74, 53, 68, 65, 62, 98, 50, 59, 92, 83, 86, 35, 80, 95, 41, 47, 20, 29]

In [368]:
a

[26, 20, 68, 56, 62, 38, 80, 32, 44, 74]

In [382]:
import random
r = random.sample(range(10,90,2),10)
print(r)

[82, 36, 24, 32, 18, 60, 78, 70, 58, 46]

In [384]:
a = [82, 36, 24, 32, 18, 60, 78, 70, 58, 46]
for i in a:
    print(i)

82
36
24
32
18
60
78
70
58
46

# While Loop

In [385]:
# this is used for the continues loop method untill the statement is false

In [401]:
i = 50
while i>=10:
    print(i)
    i = i-2

50
48
46
44
42
40
38
36
34
32
30
28
26
24
22
20
18
16
14
12
10

# Break Statement

In [403]:
# to terminate Loop
while True:
    num = int(input("Enter a number: "))
    if num <0:
        break
    print(num)

Enter a number: 9885553052
9885553052
Enter a number: 66552
66552
Enter a number: 6669983
6669983
Enter a number: -8

# Continue Statement

In [404]:
for x in range(1,6):
    if x == 2 or x ==5:
        continue
    print(x)

1
3
4

# Pass Statment

In [408]:
# basically if there are no statements to execute then we use pass
def fun(x):
    if x ==0:
        pass
    else:
        print("i wil be done")
fun(0)

# functions

In [409]:
# def is the keyword used to function

In [411]:
def good(name):
    print("Hello Good Morning!"+ name)
good("sudheer")

Hello Good Morning!sudheer

In [413]:
# Return Statement

In [415]:
def fun():
    return 10
a = fun()
print(a)

10

# File Handling Method

In [418]:
file1 = open("sample.txt","w")
file1.write("Hello Sudheer!\n")
file1.close()

In [425]:
file2 = open("sample.txt","r")
print(file2.read())
file2.close()

Hello Sudheer!

In [426]:
# import os to remove the file
import os

In [427]:
os.remove("sample.txt")

PermissionError: [WinError 32] The process cannot access the file because it is being used by another process: 'sample.txt'

# Class